body{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHatftuzgNxlKbwkHLiT1LoQp17qCwDYs5dGrwq_SvdRwZm7F");
background-repeat: no-repeat;
background-size: cover;

}
    

